.container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;

  pointer-events: all;
  overflow-y: scroll;
}
.con_header_on,
.con_header_off {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  transition: 0.4s;
  z-index: 2;
  pointer-events: all;
}

.con_header_on {
  top: 0;
}

.con_header_off {
  top: -70px;
}

.next_btn_white,
.next_btn_black {
  position: fixed;
  right: 30px;
  bottom: 20px;
  pointer-events: all;
  z-index: 10;
}

.next_btn_white {
  filter: invert(100%);
}
.header_main_title {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  font-family: "PyeongChangPeace";
  font-weight: 700;
}

.header_main_sign {
  display: flex;
  font-weight: 700;
  gap: 40px;
}

.header_main_sign > div {
  cursor: pointer;
}

.con_main_center_banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_center_banner_text {
  font-size: 50px;
  font-family: "PyeongChangPeace";
  font-weight: 700;
}

.con_sub_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.con_sub_title > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding: 0 40px;
}

.sub_title_text_right,
.sub_title_text_left {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 40px;
  font-weight: 900;
  border: 3px black solid;
  font-family: "PyeongChangPeace";
  font-weight: 700;
}

.sub_title_text_right {
  justify-content: flex-end;
}

.sub_title_text_left {
}

.gradient {
  width: 100%;
  height: 50vh;
  background: linear-gradient(#fff, rgb(40, 40, 40));
}

.con_last_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  background-color: rgb(40, 40, 40);
}

.last_page_container {
  width: 500px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 50px;
  font-size: 30px;
}

.last_page_con_img {
  height: 150px;
}

.last_page_con_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.last_page_main_text {
  display: flex;
  font-weight: 900;
}

.last_page_sub_text {
  height: 100%;
  display: flex;
  text-align: left;
  white-space: pre-line;
  font-weight: 300;
}

.footer {
  height: 200px;
  width: 100%;
  padding: 30px 60px;
  border-top: 2px solid #fff;
  background-color: rgb(40, 40, 40);
  color: #fff;
}

.con_content_list {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.con_content_list > div {
  cursor: pointer;
}

.con_identity_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.footer_content_mainText {
  font-size: 30px;
  font-weight: 700;
  font-family: "PyeongChangPeace";
  font-weight: 700;
}

.footer_content_subText {
  font-size: 16px;
  font-weight: 700;
}
